/* CSS file */


Canvas
{
	backgroundColor: #F0F0F0;
}

Application
{
	backgroundColor: #ffffff;
	paddingBottom: 5;
	paddingLeft: 5;
	paddingRight: 5;
	paddingTop: 5;
	backgroundGradientAlphas: 1.0, 1.0;
	backgroundGradientColors: #F0F0F0, #F0F0F0;
}

ViewStack
{
	backgroundColor: #ffffff;
	borderStyle: none;
}


MenuBar
{
	fillAlphas: 0.15, 0.27, 1.0, 1.0;
	fillColors: #E3001B, #E87D7D, #E3001B, #E3001B;
	fontWeight: normal;
	cornerRadius: 4;
	disabledColor: #BBC7C7;
	rollOverColor: #E3001B;
}

MenuBarItem
{
	
}
global
{
	themeColor: #E3001B;
	fontFamily: Verdana;
	fontSize: 12;
	fontWeight: normal;
	verticalScrollBarStyleName: menuVerticalScrollBar;
}
.menuVerticalScrollBar
{
}
AdvanceTabNavigator
{
	backgroundColor: #E0E0E0;
	tabStyleName: advanceTabNavigatorTab;
	firstTabStyleName: advanceTabNavigatorFirstTab;
	lastTabStyleName: advanceTabNavigatorLastTab;
	selectedTabTextStyleName: advanceTabNavigatorSelectedTabText;
	horizontalAlign: left;
	horizontalGap: 0;
	tabOffset: 0;
	paddingTop: 2;
}
.advanceTabNavigatorTab
{
	fontWeight: normal;
	horizontalGap: 0;
	paddingRight: 15;
	themeColor: #F0F0F0;
}
.advanceTabNavigatorFirstTab
{
	fontWeight: normal;
	paddingRight: 15;
	themeColor: #F0F0F0;
}
.advanceTabNavigatorLastTab
{
	fontWeight: normal;
	paddingRight: 15;
	themeColor: #F0F0F0;
}
.advanceTabNavigatorSelectedTabText
{
	fontWeight: bold;
	color: #E51111;
	paddingRight: 15;
	firstTabStyleName: tabNavigatorFirstTab;
}
.tabNavigatorFirstTab
{
}

