/* CSS file */


Canvas
{
	backgroundColor: #E0E0E0;
}

Application
{
	backgroundColor: #ffffff;
	paddingBottom: 5;
	paddingLeft: 5;
	paddingRight: 5;
	paddingTop: 5;
	backgroundGradientAlphas: 1.0, 1.0;
	backgroundGradientColors: #F0F0F0, #F0F0F0;
}

ViewStack
{
	backgroundColor: #ffffff;
	borderStyle: none;
}


MenuBar
{
	fillAlphas: 0.15, 0.05, 0.61, 1.0;
	fillColors: #E0E0E0, #E0E0E0, #CE6874, #CE6874;
	fontWeight: normal;
	cornerRadius: 4;
	disabledColor: #BBC7C7;
	rollOverColor: #CE6874;
}

MenuBarItem
{
	
}
global
{
	themeColor: #CE6874;
	fontFamily: Verdana;
	fontSize: 12;
	fontWeight: normal;
	verticalScrollBarStyleName: menuVerticalScrollBar;
}
.menuVerticalScrollBar
{
}
AdvanceTabNavigator
{
	backgroundColor: #E0E0E0;
	tabStyleName: advanceTabNavigatorTab;
	firstTabStyleName: advanceTabNavigatorFirstTab;
	lastTabStyleName: advanceTabNavigatorLastTab;
	selectedTabTextStyleName: advanceTabNavigatorSelectedTabText;
	horizontalAlign: left;
	horizontalGap: 0;
	tabOffset: 0;
	paddingTop: 2;
}
.advanceTabNavigatorTab
{
	fontWeight: normal;
	horizontalGap: 0;
	paddingRight: 15;
}
.advanceTabNavigatorFirstTab
{
	fontWeight: normal;
	paddingRight: 15;
}
.advanceTabNavigatorLastTab
{
	fontWeight: normal;
	paddingRight: 15;
}
.advanceTabNavigatorSelectedTabText
{
	fontWeight: bold;
	paddingRight: 15;
}
Tree
{
	borderStyle: solid;
	borderThickness: 2;
	cornerRadius: 4;
	fontWeight: normal;
	color: #0F0F0F;
	rollOverColor: #F7E8EA;
	selectionColor: #F3596B;
	textSelectedColor: #FFFFFF;
}
ButtonBar
{
}


