/* CSS file */
Menu
{
	borderThickness: 2;
	cornerRadius: 4;
	borderStyle: solid;
	leading: 5;
	paddingLeft: 2;
	paddingRight: 2;
	paddingTop: 4;
	paddingBottom: 0;
	backgroundColor: #F0F0F0;
	backgroundAlpha: 0.97;
	fontWeight:normal;
}
MenuBar{
	fontWeight:bold;
}

Canvas
{
	backgroundColor: #E0E0E0;
}

Application
{
	backgroundColor: #ffffff;
	paddingBottom: 5;
	paddingLeft: 5;
	paddingRight: 5;
	paddingTop: 5;
	backgroundGradientAlphas: 1.0, 1.0;
	backgroundGradientColors: #F0F0F0, #F0F0F0;
}

ViewStack
{
	backgroundColor: #ffffff;
	borderStyle: none;
}



global
{
	themeColor: #CE6874;
	fontFamily: Verdana;
	fontSize: 12;
	fontWeight: normal;
}

Tree
{
	borderStyle: solid;
	borderThickness: 2;
	cornerRadius: 4;
	fontWeight: normal;
	color: #202020;
	rollOverColor: #F7E8EA;
	selectionColor: #F3596B;
	textSelectedColor: #FFFFFF;
}
HBox.CommandButtonBar
{
	horizontalGap: 4;
	verticalAlign: middle;
	borderStyle: none;
	paddingLeft: 4;
	paddingRight: 4;
	backgroundColor: #F0F0F0;
}
Canvas.EditPanel
{
	backgroundColor: #E0E0E0;
	borderStyle: none;
	cornerRadius: 0;
}
DataGrid
{
	borderStyle: none;
	horizontalGridLines: false;
	headerStyleName: dataGridHeader;
	color: #202020;
	rollOverColor: #F7E8EA;
	selectionColor: #F3596B;
	textSelectedColor: #FFFFFF;
	horizontalGridLineColor: #E0E0E0;
	verticalGridLineColor: #CCCCCC;
	verticalScrollBarStyleName: dataGridVerticalScrollBar;
	paddingLeft: 1;
	paddingRight: 0;
	paddingTop: 1;
	paddingBottom: 1;
	verticalAlign: middle;
	alternatingItemColors: #F0F0F0, #FFFFFF;
	headerColors: #F0F0F0, #D0D0D0;
}
.dataGridHeader
{
	fontFamily: Verdana;
	fontWeight: normal;
	color: #202020;
}
.dataGridVerticalScrollBar
{
	cornerRadius: 0;
	thumbOffset: 1;
}
TabNavigator
{
	backgroundColor: #f0f0f0;
	tabStyleName: tabNavigatorTab;
	selectedTabTextStyleName: tabNavigatorSelectedTabText;
	fontWeight: normal;
	firstTabStyleName: tabNavigatorFirstTab;
	lastTabStyleName: tabNavigatorLastTab;
	fontWeight: normal;
}
.tabNavigatorSelectedTabText
{
	fontWeight: bold;
	color: #F3596B;
}



