/* CSS file */


Canvas
{
	backgroundColor: #E0E0E0;
}

Application
{
	backgroundColor: #ffffff;
	paddingBottom: 5;
	paddingLeft: 5;
	paddingRight: 5;
	paddingTop: 5;
	backgroundGradientAlphas: 1.0, 1.0;
	backgroundGradientColors: #F0F0F0, #F0F0F0;
}

ViewStack
{
	backgroundColor: #ffffff;
	borderStyle: none;
}



MenuBarItem
{
	
}
global
{
	themeColor: #CE6874;
	fontFamily: Verdana;
	fontSize: 11;
	fontWeight: normal;
	verticalScrollBarStyleName: menuVerticalScrollBar;
	headerStyleName: accordionHeader;
}
.menuVerticalScrollBar
{
}
AdvanceTabNavigator
{
	backgroundColor: #E0E0E0;
	tabStyleName: advanceTabNavigatorTab;
	firstTabStyleName: advanceTabNavigatorFirstTab;
	lastTabStyleName: advanceTabNavigatorLastTab;
	selectedTabTextStyleName: advanceTabNavigatorSelectedTabText;
	horizontalAlign: left;
	horizontalGap: 0;
	tabOffset: 0;
	paddingTop: 2;
}
.advanceTabNavigatorTab
{
	fontWeight: normal;
	horizontalGap: 0;
	paddingRight: 15;
	tabStyleName: tabNavigatorTab;
	selectedTabTextStyleName: tabNavigatorSelectedTabText;
	firstTabStyleName: tabNavigatorFirstTab;
}
.advanceTabNavigatorFirstTab
{
	fontWeight: normal;
	paddingRight: 15;
}
.advanceTabNavigatorLastTab
{
	fontWeight: normal;
	paddingRight: 15;
}
.advanceTabNavigatorSelectedTabText
{
	fontWeight: bold;
	paddingRight: 15;
}
Tree
{
	borderStyle: solid;
	borderThickness: 2;
	cornerRadius: 4;
	fontWeight: normal;
	color: #202020;
	rollOverColor: #F7E8EA;
	selectionColor: #F3596B;
	textSelectedColor: #FFFFFF;
	verticalScrollBarStyleName: treeVerticalScrollBar;
}
HBox.CommandButtonBar
{
	horizontalGap: 4;
	verticalAlign: middle;
	borderStyle: none;
	paddingLeft: 4;
	paddingRight: 4;
	backgroundColor: #F0F0F0;
}
Canvas.EditPanel
{
	backgroundColor: #E0E0E0;
	borderStyle: none;
	cornerRadius: 0;
}
DataGrid
{
	borderStyle: none;
	horizontalGridLines: false;
	headerStyleName: dataGridHeader;
	color: #202020;
	rollOverColor: #F7E8EA;
	selectionColor: #F3596B;
	textSelectedColor: #FFFFFF;
}
.dataGridHeader
{
	fontFamily: Verdana;
	fontWeight: normal;
	color: #202020;
}
.treeVerticalScrollBar
{
}
.tabNavigatorTab
{
}
.tabNavigatorSelectedTabText
{
}
.tabNavigatorFirstTab
{
}


