/* CSS file */



Canvas
{
	fontFamily: Verdana;
	fontSize: 14;
	backgroundColor: #FFFFFF;
}
Application
{
	backgroundColor: #ffffff;
	backgroundGradientAlphas: 1.0, 1.0;
	backgroundGradientColors: #FFFFFF, #FFFFFF;
}
LinkButton
{
	themeColor: #A5CDE6;
}
Tile
{
	borderColor: #BEDCF1;
	borderStyle: none;
	color: #FFFFFF;
	fontFamily: Georgia;
	horizontalGap: 10;
	paddingBottom: 10;
	paddingLeft: 10;
	paddingRight: 10;
	paddingTop: 10;
	verticalGap: 10;
	verticalScrollBarStyleName: horizontalListScrollBars;
	horizontalScrollBarStyleName: horizontalListScrollBars;
}

.horizontalListScrollBars
{
	borderColor: #FFFFFF;
	cornerRadius: 0;
	themeColor: #afafaf;
	trackColors: #FFFFFF, #FFFFFE;
	fillAlphas: 1.0, 1.0;
	fillColors: #FFFFFF, #FFFFFF;
	thumbOffset: 1;
}
